<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <div class="container">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home/index">Anasayfa</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home/asama1">Aşama 1</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home/asama2">Aşama 2</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home/asama3">Aşama 3</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home/asama4">Aşama 4</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home/asama5">Aşama 5</a>
            </li>
        </ul>
        </div>
    </div>
  </div>
</nav>